Формула интеграла $x^2$  по x:
$$\int x^2\, dx$$

Формула определенного интеграла: 
$$\int_{a}^{b}x^2dx$$

1. Распечатать второе значение списка.

In [1]:
fruits = ["яблоко", "банан", "вишня"]
fruits[1]

'банан'

2. Поменять значение "яблоко" на "киви".

In [2]:
fruits = ["яблоко", "банан", "вишня"]
fruits[0]='киви'
fruits

['киви', 'банан', 'вишня']

3. Добавить к списку "апельсин".

In [3]:
fruits = ["яблоко", "банан", "вишня"]
fruits.append('апельсин')
fruits

['яблоко', 'банан', 'вишня', 'апельсин']

4. В имеющийся список _fruits_ вставить элемент "лимон" на вторую позицию.

In [4]:
fruits = ["яблоко", "банан", "вишня"]
fruits.insert(1, 'лимон')
fruits

['яблоко', 'лимон', 'банан', 'вишня']

5. Из списка _fruits_ удалить элемент "банан".

In [5]:
fruits = ["яблоко", "банан", "вишня"]
fruits.pop(1)
fruits

['яблоко', 'вишня']

6. Имеется строка `'SIX, SEVEN, EIGHT, NINE, TEN'`. Инвертировать последовательность слов, разделенных запятыми. Ожидается результат: `'TEN, NINE, EIGHT, SEVEN, SIX'`.

In [6]:
s = "SIX, SEVEN, EIGHT, NINE, TEN"
s = s.split(", ")[::-1]
s = ', '.join(s)
s

'TEN, NINE, EIGHT, SEVEN, SIX'

7. В строке, содержащей последовательность слов, обозначающих числа
```
'НОЛЬ,ОДИН,ДВА,ТРИ,ЧЕТЫРЕ,ПЯТЬ,ШЕСТЬ,СЕМЬ,ВОСЕМЬ,ДЕВЯТЬ'
```
удалить слова, обозначающие нечетные числа. Ответ представить в виде строки.

In [7]:
s='НОЛЬ,ОДИН,ДВА,ТРИ,ЧЕТЫРЕ,ПЯТЬ,ШЕСТЬ,СЕМЬ,ВОСЕМЬ,ДЕВЯТЬ'
s = ', '.join(s.split(',')[::2])
s

'НОЛЬ, ДВА, ЧЕТЫРЕ, ШЕСТЬ, ВОСЕМЬ'

8. Дана статистика расходов на рекламную кампанию по каналу ('source'), расходам ('cost') и прибыли от рекламы ('profit').
```
ads = [
    {'cost':98, 'source':'vk', 'profit':150},
    {'cost':153, 'source':'yandex', 'profit':270},
    {'cost':110, 'source':'facebook', 'profit':201}
]
```
Найти канал, обеспечивший максимальную эффективность = прибыль/расходы. Распечатать название канала и значение эффективности, округленное до двух десятичных знаков.

In [8]:
ads = [
    {'cost':98, 'source':'vk', 'profit':150},
    {'cost':153, 'source':'yandex', 'profit':270},
    {'cost':110, 'source':'facebook', 'profit':201}
]

eff = 0
for i in ads:
  if i['profit']/i['cost'] > eff:
    eff = i['profit']/i['cost']
    src = i['source']

print('efficiency of', src, 'is', round(eff, 2))

efficiency of facebook is 1.83

In [9]:
# решение, но в 1 строку и не моё
# print(max([int(i['profit']/i['cost']*100)/100 for i in ads]))

Создать таблицу, добавить в нее столбец с эффективностью, выделить строчку с максимальной эффективностью.

In [10]:
import pandas as pd
df = pd.DataFrame(ads)
df['efficiency'] = round(df['profit']/df['cost'], 2)
df

   cost    source  profit  efficiency
0    98        vk     150        1.53
1   153    yandex     270        1.76
2   110  facebook     201        1.83

In [11]:
df.iloc[df['efficiency'].argmax()]

cost               110
source        facebook
profit             201
efficiency        1.83
Name: 2, dtype: object