In [2]:
import pandas as pd
fs = pd.read_csv('/Users/ana___lim/Documents/GitHub/python-sql/Data/FinancialSample3.csv', sep=';')
fs

,Id,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales,COGS,Profit,Date,MonthNumber,MonthName,Year
0,1,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.0,16185.0,16185.000,2014-01-01,1.0,January,2014.0
1,2,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.0,13210.0,13210.000,2014-01-01,1.0,January,2014.0
2,3,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.0,21780.0,10890.000,2014-06-01,6.0,June,2014.0
3,4,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.0,8880.0,4440.000,2014-06-01,6.0,June,2014.0
4,5,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.0,24700.0,12350.000,2014-06-01,6.0,June,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,1396,Small Business,Albania,Carretera,Green,2348.0,97.0,164.9,10772.0,18.32,10666.0,7540.4,3871.852,2014-12-13,12.0,December,2014.0
1396,1397,Government,Finland,Montana,Green,2184.0,115.0,195.5,19337.0,21.72,16125.0,13535.9,4269.720,2014-11-24,11.0,November,2014.0
1397,1398,Enterprise,Albania,Velo,Medium,2756.0,73.0,124.1,17624.0,13.79,15757.0,12336.8,3420.196,2014-04-20,4.0,April,2014.0
1398,1399,Enterprise,Mexico,Nice,Green,2060.0,64.0,108.8,19143.0,12.09,21038.0,13400.1,2241.280,2014-11-10,11.0,November,2014.0
1399,1400,Enterprise,Mexico,Paseo,Green,2922.0,58.0,98.6,19885.0,10.96,1793.0,13919.5,2881.092,2014-10-16,10.0,October,2014.0

Задание
1. Какова сумма валовых продаж (GrossSales) товаров, произведеных Amarilla для малого бизнеса?
2. Определите среднюю стоимость производства (ManufacturingPrice) товаров, выпущенных для Мексики стоимостью (SalePrice) выше, чем стоимость 70% товаров.
3. Найдите минимальную цену производства товара правительственого сегмента, для которого цена продажи ниже цены производства.
4. Какова средняя цена товара, стоимость производства которого ниже среднего?
5. Во сколько раз средняя себестоимость (COGS) товаров промышленного сегмента отличается от средней себестоимости товаров малого бизнеса?
6. Какова суммарная прибыль всех сделок в правителственном сегменте, заключенных компаниями Carretera и Paseo?

In [3]:

#1

fs.GrossSales[(fs.Product =="Amarilla") & (fs.Segment == "Small Business")].sum()

5024400.0

In [4]:
#2
fs.ManufacturingPrice[(fs.Country == 'Mexico') & (fs.SalePrice.quantile(0.7) < fs.SalePrice)].mean()

103.23188405797102

In [5]:
#4
fs.SalePrice[fs.ManufacturingPrice < fs.ManufacturingPrice.mean()].mean()

115.9474406991261

In [6]:
#5
fs.COGS[fs.Segment == 'Enterprise'].mean()/fs.COGS[fs.Segment == 'Small Business'].mean()

0.5714966377808545

In [7]:
#6
fs.Profit[fs.Product == 'Carretera'].sum()+fs.Profit[fs.Product == 'Paseo'].sum()

7131894.234

<u>Задание</u>.
1. Сколько разных систем скидок представлено в таблице?
2. Какая из систем скидок применяется реже всего?
3. Сколько раз представлены в выборке разные страны?

In [8]:
#1
len(fs['DiscountBand'].value_counts())

6

In [9]:
#2
fs['DiscountBand'].value_counts().index[-1]

'None'

In [10]:
#3
fs.Country.value_counts()

Germany                     233
Mexico                      233
United States of America    226
Canada                      213
France                      140
Egypt                        97
Pakistan                     92
Finland                      88
Albania                      78
Name: Country, dtype: int64

<u>Задание</u>

1. Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.
2. В каких пределах находятся наименьшие 25% значений количества товара (UnitsSold) для Германии?

In [11]:
#1
fs.COGS[fs.Country == 'Canada'].value_counts(bins=6)

(335.65900000000005, 159508.333]    163
(159508.333, 317731.667]             19
(317731.667, 475955.0]               17
(475955.0, 634178.333]                8
(634178.333, 792401.667]              4
(792401.667, 950625.0]                2
Name: COGS, dtype: int64

In [12]:
#2
fs.UnitsSold[fs.Country == 'Germany'].value_counts(bins=4).index[0]

Interval(1215.375, 2216.75, closed='right')